# Copyright (c) 2021-2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_fing_board_LEFT
    def_bool $(shields_list_contains,fing_board_left)

config SHIELD_fing_board_RIGHT
    def_bool $(shields_list_contains,fing_board_right)

config SHIELD_fing_board_DONGLE
    def_bool $(shields_list_contains,fing_board_dongle)
